temp
/Code/ipch
/Code/*.sdf
lib
/Code/*.opensdf
/Code/components/金蟾捕鱼/游戏服务器/JCBY/*.APS
/Code/components/金蟾捕鱼/游戏服务器/JCBY/*
/Code/cbin
/Code/sbin
Debug
packages
/Code/thlib/debug/libprotoc.lib
/Code/thlib/debug/libprotobuf.lib
/Code/thlib/debug/libprotobuf-lite.lib
